body {
    background-color: #fd9644;
}

.koala * {
    position: absolute;
    background: var(--koala-fur);
}

.koala {
    --koala-fur: #778ca3;
    position: relative;
    margin: auto;
    display: block;
    margin-top: 10%;
    height: 300px;
    width: 300px
}

.koala-head {

    top: 10%;
    left: 25%;
    width: 50%;
    height: 45%;
    border-radius: 50%;
}

.koala-body {
    top: 30%;
    left: 20%;
    width: 60%;
    height: 70%;
    border-radius: 50% 50% 40% 40%;
}

.arm {
    top: 50%;
    left: 50%;
    width: 45%;
    height: 20%;
    border-radius: 40%;
}

.leg {
    top :80%;
    left: 40%;
    width: 50%;
    height: 20%;
    border-radius: 40%;
}

.ear {
    top: 15%;
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

.left-ear {
    left: 7%;

}

.right-ear {
    left: 63%;
}

.ear-fur {
    background: white;
    top: 7.5%;
    left: 7.5%;
    height: 85%;
    width: 85%;
    border-radius: 50%;
}

.eye {
    background: black;
    top: 30%;
    height: 15%;
    width: 10%;
    border-radius: 50%;
}

.left-eye {
    left: 15%;
}

.right-eye {
    left: 75%;
}

.sparkle {
    background: white;
    top: 50%;
    left: 40%;
    height: 40%;
    width: 40%;
    border-radius: 50%;
}

.nose {
    background: black;
    top: 40%;
    left: 30%;
    height: 55%;
    width: 40%;
    border-radius: 50% 50% 40% 40%;
}
